<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petproject.TelegramBotApi.repository.mapper.KeywordMapper">
    <select id="findAll" resultType="Keyword">
        SELECT * FROM Keywords
    </select>
    <insert id="create" parameterType="Keyword">
        INSERT INTO Keywords (keyword) VALUES (#{keyword})
    </insert>
    <delete id="delete" parameterType="string">
        DELETE FROM Keywords WHERE keyword = #{keyword}
    </delete>
</mapper>
